.container{
    margin: 10% auto;
}

.container h2 {
    font-size: 3rem;
    color: white;
}

.container h3 {
    font-size: 2rem;
    text-align: left;
    color: #38C68B;
    margin: 3% auto;
}
.container ul li {
    font-size: 1.1rem;
    text-align: left;
    list-style-type: none;
    color: #3D9BE9;
    margin: 3% 0;
}
.container ul {
    padding-left: 0rem;
}